.app {
  background: #2f3136;
}

.sidebar {
  height: 100vh;
  width: 11vh;
  background: #202225;
  padding-top: 2vh;
}

.sidebar>.item {
  height: 9vh;
  width: 9vh;
  background: #36393f;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2vh;
  background-size: cover;
  overflow: hidden;
}

.sidebar>.item:nth-of-type(1) {
  top: 10vh;
}

.item > img {
  height: 100%;
  width: 100%;
}


.item:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #202225;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 4.5vh;
}
